{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" type="text/css" href="{% static 'mtg/style.css' %}">
</head>
<body>
    <div class="search">
        <div>
            <form action="" method="post">
                {% csrf_token %}
                <div>
                    <button type="submit" name="search_color" value="W">W</button>
                    <button type="submit" name="search_color" value="U">U</button>
                    <button type="submit" name="search_color" value="B">B</button>
                    <button type="submit" name="search_color" value="R">R</button>
                    <button type="submit" name="search_color" value="G">G</button>
                    <button type="submit" name="search_color" value="reset">Reset</button>
                </div>
                <div>
                    <label for="search_name">Card Name:</label>
                    <input type="text" id="search_name" name="search_name">
                    <button type="submit" name="button_type" value="search">Search</button>
                </div>
            </form>
        </div>
    </div>
    <div class="add">
        {% if user.2 %}
        <form action="" method="post">
            {% csrf_token %}
            <div>
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required>
                <label for="cost">Cost:</label>
                <input type="text" id="cost" name="cost" required>
            </div>
            <div>
                <label for="type">Type:</label>
                <input type="text" id="type" name="type" required>
                <label for="text">Text:</label>
                <input type="text" id="text" name="text">
            </div>
            <div>
                <label for="power">Power:</label>
                <input type="number" id="power" name="power" step="1">
                <label for="toughness">Toughness:</label>
                <input type="number" id="toughness" name="toughness" step="1">
            </div>
            
            <div>
                <button type="submit" name="button_type" value="add">Add</button>
            </div>
        </form>
        {% endif %} 
    </div>
    <div class="card">
        <table border="1">
            <thead>
                <tr>
                    {% if user.2 %}
                    <th>Delete</th>
                    {% endif %}
                    <th>Name</th>
                    <th>Cost</th>
                    <th>Type</th>
                    <th>Text</th>
                    <th>P/T</th>
                </tr>
            </thead>
            <tbody>
                {% for card in cards %}
                <tr>
                    {% if user.2 %}
                    <td>
                        <form action="" method="post">
                            {% csrf_token %}
                            <button type="submit" name="card_delete" value="{{ card.1 }}">X</button>
                        </form>
                    </td>
                    {% endif %}
                    <td>
                        <form action="" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="clicked_card" id="clicked_{{ card.1 }}" value="">
                            <a href="#" onclick="document.getElementById('clicked_{{ card.1 }}').value='{{ card.1 }}'; this.parentNode.submit();">{{ card.1 }}</a>
                        </form>
                    </td>
                    <td>{{ card.2 }}</td>
                    <td>{{ card.3 }}</td>
                    <td>{{ card.4 }}</td>
                    <td>{{ card.5 }} / {{ card.6 }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="side">
        <div>{{ deck.1 }}</div>
        <div>
            {% for contain in contains %}
            <div>
                <form action="" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="removed_card" id="removed_{{ contain.0 }}" value="">
                    <a href="#" onclick="document.getElementById('removed_{{ contain.0 }}').value='{{ contain.0 }}'; this.parentNode.submit();">{{ contain.0 }}</a>
                    x{{ contain.1 }}
                </form>
            </div>
            {% endfor %}
        </div>
        <div>
            <form action="" method="post">
                {% csrf_token %}
                <div>
                    <button type="submit" name="button_type" value="exit_deck">Save and Exit</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>