{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'mtg/style.css' %}">
</head>
<body>
    <div class="login_container">
        <div>
            <h2>MTG Deck Manager</h2>
            <p>{{ message }}</p>
            <form action="/mtg/login" method="post">
                {% csrf_token %}
                <div>
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" required>
                </div>
                <div>
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <div>
                    <button type="submit">Login</button>
                </div>
            </form> 
        </div>
    </div>
</body>
</html>